# ===============================

# Python cache

# ===============================

**pycache**/
*.py[cod]
*$py.class

# ===============================

# Virtual Environment

# ===============================

venv/
env/
ml_env/
.venv/

# ===============================

# Jupyter Notebook

# ===============================

.ipynb_checkpoints

# ===============================

# ML Models / Weights

# ===============================

*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.pkl
*.joblib
models/

# ===============================

# Dataset (Usually Large)

# ===============================

data/
dataset/
datasets/

# ===============================

# Logs

# ===============================

logs/
*.log

# ===============================

# Temporary files

# ===============================

*.tmp
*.temp
*.swp

# ===============================

# OS Files

# ===============================

.DS_Store
Thumbs.db

# ===============================

# IDE / Editor

# ===============================

.vscode/
.idea/

# ===============================

# Build files

# =====
